<!DOCTYPE html>
<html>
<head>
    <title>Admin Giriş</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Admin Giriş</h1>
        <a href="{% url 'ticket_list' %}" class="btn btn-primary">View Tickets</a>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
        <p>Welcome, Admin {{ user.username }}!</p>

        <h2>Admin Tasks</h2>
       
        
    </div>
</body>
</html>
